* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  background: url(images/sky.jpeg) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  background-color: black;
  opacity: 0.9;
  font-family: "Montserrat", sans-serif;
}

#logo {
  height: 35px;
  width: 90px;
  border-radius: 5px;
  justify-content: left;
}

#intro h1 {
  width: fit-content;
  font-size: 4rem;
  font-weight: 900;
  position: relative;
  color: transparent;
  animation: text_reveal 0.5s ease forwards;
  animation-delay: 1s;
  margin: auto;
  padding: 10px;
}

#intro h1:nth-child(1) {
  animation-delay: 1s;
}

#intro h1:nth-child(2) {
  animation-delay: 2s;
}

#intro h1:nth-child(3) {
  animation-delay: 3s;
}

#intro h1:nth-child(4) {
  animation: text_reveal_name 0.5s ease forwards;
  animation-delay: 4s;
}

#intro h1 span {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0%;
  background-color: rgb(252, 30, 30);
  animation: text_reveal_box 1s ease;
  animation-delay: 3s;
}

#intro h1:nth-child(1) span {
  animation-delay: 0.5s;
}

#intro h1:nth-child(2) span {
  animation-delay: 1.5s;
}

#intro h1:nth-child(3) span {
  animation-delay: 2.5s;
}
#intro h1:nth-child(4) span {
  animation-delay: 3.5s;
}

.button {
  padding: 10px 30px;
  background-color: transparent;
  color: white;
  border: 2px solid orangered;
  border-radius: 5px;
  font-size: 2rem;
  font-weight: 900;
  text-transform: uppercase;
  margin-top: 30px;
  transition: 0.3s ease;
  transition: background-color, color;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  margin: 30px 80px 0 80px;
}

.button:hover {
  background-color: orangered;
  text-decoration: none;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: white;
  padding: 3px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a.icon {
  background: rgb(39, 38, 51);
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  height: 35px;
}

.topnav a:hover {
  background-color: rgb(207, 104, 65);
  color: black;
  font-weight: bold;
}

.active {
  background-color: rgb(39, 38, 51);
  color: white;
}

.cards {
  padding: 20px;
  margin-top: 20px;
  box-shadow: 0px 7px 7px rgb(207, 104, 65);
}

#quizImage {
  height: 175px;
  border-radius: 5px;
}

#quizImage:hover {
  transform: scale(1.4);
  transition: transform 0.4s cubic-bezier(0, 0, 0.3, 1),
    opacity 0.4s cubic-bezier(0, 0, 0.4, 1);
}

img.figure-img {
  float: right;
  padding: 10px;
}

figcaption.figure-caption {
  font-weight: bold;
  color: white;
  padding: 5px;
}

h5,
p,
a {
  font-weight: bold;
}

.card {
  background: rgb(11, 75, 77);
  border-style: none;
  color: rgb(196, 191, 191);
  font-weight: bold;
}

.card-body {
  margin: auto;
  text-align: center;
}

.cardsAbout {
  padding: 10px 5px 0 5px;
}

.btn-primary {
  border: none;
}

.btn.btn-primary {
  background-color: rgb(207, 104, 65);
  color: black;
  font-weight: bold;
  transition: 0.3s ease;
  transition: background-color, color;
  margin: auto;
}

.btn.btn-primary:hover {
  background-color: orangered;
  color: white;
}

.fa {
  /* padding: 10px; */
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

a.fa.fa-linkedin {
  margin-top: 20px;
  padding: 10px;
}

@keyframes text_reveal_box {
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes text_reveal {
  100% {
    color: orangered;
    text-shadow: 2px 2px #ff0000;
  }
}

@keyframes text_reveal_name {
  100% {
    color: orangered;
    font-weight: 500px;
    text-shadow: 2px 2px #ff0000;
  }
}
